<html>
<head>
    <title>Language Classifier</title>
</head>
<body>
    <h1>Language Classifier</h1>
    <form method="POST" action = "{% url 'analyze' %}">
        <input name = "item_text" id="id_new_item" placeholder = "Enter some code"/>
        {% csrf_token %}

    </form>
      {% if code_result %}
      <div>
        <ul>
          {% for code in code_result %}
          <li>{{code.0}}: {{code.1}}</li>
          {% endfor %}
        </ul>
      </div>
          <div>
          <p>
              Was this correct?
          </p>
              <select name="select">
          <option value="Don't Know">I Don't Know</option>
                  <option value="Yes" selected>Yes</option>
                  <option value="No">No</option>
    </select>
          <form method="POST" action = "{% url 'code_confirm' %}">
              <input name='code_confirm' id="confirmation" placeholder="Yes"/>
          </form>
          </div>
      {% endif %}
</body>
</html>
